// Render All ELements In HTML File
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: "Open Sans", "DM Sans";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
section,footer {
  position: relative;
  top: 70px;
  padding: 100px 0;
  overflow: hidden;
}
.red {
  color: $main-color;
}
.blue {
  color: $alt-color;
}
img {
  max-width: 100%;
}
.special-h2 {
  font-size: $large-heading;
  line-height: 1.6;
  color: $p-color;
}