$main-color: #fe3f40;
$alt-color: #03a4ed;
$a-color: #0d6efd;
$p-color: #2a2a2a;
$grey-color: #afafaf;
$header-background: #fafafa;
$main-padding: 100px;
$long-transition: 2s ease;
$short-transition: 0.5s ease-in-out;
$small-heading: 18px;
$medium-heading: 24px;
$large-heading: 32px;
$input-bg-color: #d1f3ff;
